<extend name="Public/tpl/base_admin_page" />
<block name="header-link">
    <link rel="stylesheet" href="{:C('LIB_PATH')}/kindeditor/themes/default/default.css" />
</block>
<block name="header-script">
    <script charset="utf-8" src="{:C('LIB_PATH')}/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="{:C('LIB_PATH')}/kindeditor/lang/zh_CN.js"></script>
</block>
<block name="slidebar-shopactivity"><li class="active treeview">
    <a href="#">
        <i class="fa fa-hand-peace-o"></i>
        <span>店铺活动</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="{:U('ManufactorAdmin/Activity/add_activity')}"><i class="fa fa-circle-o"></i>添加店铺活动</a></li>
        <li><a href="{:U('ManufactorAdmin/Activity/list_activities')}"><i class="fa fa-circle-o"></i> 活动列表</a></li>
        <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i>历史活动</a></li>
    </ul>
</li></block>

<block name="content-wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                店铺活动
                <small>添加活动</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li><a href="#">店铺活动</a></li>
                <li class="active">添加活动</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <form role="form" id="regist-form" action="{:U('ManufactorAdmin/Activity/Add_feedback')}" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="title">活动标题 <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" name="title" id="title" placeholder="请输入活动标题"  required />
                                        </div>
                                        <div class="form-group" >
                                            <label for="introduce">活动简介 <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" name="introduce" id="introduce" placeholder="请输入活动简介(20字以内)" />
                                            <!--<textarea id="introduce" name="content" style="width:800px;height:400px;visibility:hidden;">KindEditor</textarea>-->

                                        </div>
                                        <div class="form-group" >
                                            <label >活动图片<span class="text-red">*</span></label>
                                            <input type="file" name="img[]" required>
                                        </div>
                                        <div class="form-group" >
                                            <label for="content">活动内容 <span class="text-red">*</span></label>
                                            <textarea id="content" name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
                                        </div>
                                        <div class="form-group" >
                                            <label for="start-time">开始时间 <span class="text-red">*</span></label>
                                            <input type="date" class="form-control" name="start_time" id="start-time" placeholder="请选择开始时间" required />
                                        </div>
                                        <div class="form-group" >
                                            <label for="end-time">结束时间 <span class="text-red">*</span></label>
                                            <input type="date" class="form-control" name="end_time" id="end-time" placeholder="请选择结束时间"  required/>
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-6 text-right">
                                                    <button type="submit" class="btn btn-primary" id="add">添加</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</block>

<block name="script-more">
    <script>
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                allowFileManager : true
            });
            K('#add').click(function(e) {
               // alert(editor.html());
            });
            /*K('input[name=isEmpty]').click(function(e) {
                alert(editor.isEmpty());
            });
            K('input[name=getText]').click(function(e) {
                alert(editor.text());
            });
            K('input[name=selectedHtml]').click(function(e) {
                alert(editor.selectedHtml());
            });
            K('input[name=setHtml]').click(function(e) {
                editor.html('<h3>Hello KindEditor</h3>');
            });
            K('input[name=setText]').click(function(e) {
                editor.text('<h3>Hello KindEditor</h3>');
            });
            K('input[name=insertHtml]').click(function(e) {
                editor.insertHtml('<strong>插入HTML</strong>');
            });
            K('input[name=appendHtml]').click(function(e) {
                editor.appendHtml('<strong>添加HTML</strong>');
            });
            K('input[name=clear]').click(function(e) {
                editor.html('');
            });*/
        });
    </script>
</block>